name: Build GOLD VPN PRO
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Unzip Project
        run: |
          # فك ضغط الملف الذي رفعته
          unzip "GOLD VPN.zip"
          # نقل الملفات للمجلد الرئيسي لضمان العثور على ملف البناء
          mv shadowsocks-android-master/* . || true

      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Build APK
        run: ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: Gold_VPN_Pro_Final
          path: mobile/build/outputs/apk/debug/*.apk
